.idea/

tests.py
*/tests.py
test.py
config.toml
*.pyc
celeryconfig.py
settings.py
cache_settings.py
club_settings.py
configuration.py
*wp*.py
*/wp*.py
*/*settings.py


.project
.pydevproject
.settings/org.eclipse.core.resources.prefs
messagem_05_27.rar
messagem/msg_test/mosquitto.py
messagem/msg_test/mqtt_client.py
messagem/msg_test/mqtt_server.py
messagem/msg_test/publish_cli.py
messagem/msg_test/rabbitmq_receive.py
messagem/msg_test/rabbitmq_recv.py
messagem/msg_test/rabbitmq_send.py
messagem/msg_test/test.ini
